.code .hll { background-color: #ffffcc }
.code  { background: #ffffff; }
.code .c { color: #008800; font-style: italic } /* Comment */
.code .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.code .k { color: #000080; font-weight: bold } /* Keyword */
.code .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.code .cp { color: #008080 } /* Comment.Preproc */
.code .c1 { color: #008800; font-style: italic } /* Comment.Single */
.code .cs { color: #008800; font-weight: bold } /* Comment.Special */
.code .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gr { color: #aa0000 } /* Generic.Error */
.code .gh { color: #999999 } /* Generic.Heading */
.code .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.code .go { color: #888888 } /* Generic.Output */
.code .gp { color: #555555 } /* Generic.Prompt */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .gu { color: #aaaaaa } /* Generic.Subheading */
.code .gt { color: #aa0000 } /* Generic.Traceback */
.code .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
.code .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
.code .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */
.code .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
.code .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
.code .kt { color: #000080; font-weight: bold } /* Keyword.Type */
.code .m { color: #0000FF } /* Literal.Number */
.code .s { color: #0000FF } /* Literal.String */
.code .na { color: #FF0000 } /* Name.Attribute */
.code .nt { color: #000080; font-weight: bold } /* Name.Tag */
.code .ow { font-weight: bold } /* Operator.Word */
.code .w { color: #bbbbbb } /* Text.Whitespace */
.code .mf { color: #0000FF } /* Literal.Number.Float */
.code .mh { color: #0000FF } /* Literal.Number.Hex */
.code .mi { color: #0000FF } /* Literal.Number.Integer */
.code .mo { color: #0000FF } /* Literal.Number.Oct */
.code .sb { color: #0000FF } /* Literal.String.Backtick */
.code .sc { color: #800080 } /* Literal.String.Char */
.code .sd { color: #0000FF } /* Literal.String.Doc */
.code .s2 { color: #0000FF } /* Literal.String.Double */
.code .se { color: #0000FF } /* Literal.String.Escape */
.code .sh { color: #0000FF } /* Literal.String.Heredoc */
.code .si { color: #0000FF } /* Literal.String.Interpol */
.code .sx { color: #0000FF } /* Literal.String.Other */
.code .sr { color: #0000FF } /* Literal.String.Regex */
.code .s1 { color: #0000FF } /* Literal.String.Single */
.code .ss { color: #0000FF } /* Literal.String.Symbol */
.code .il { color: #0000FF } /* Literal.Number.Integer.Long */table.codetable { width: 100%;} td.linenos {text-align: right; width: 4em;}