@import url(http://fonts.googleapis.com/css?family=Fresca|Open+Sans|Ubuntu);

.navbar-nav.navbar-right:last-child {
margin-right: 5px;
}

.media > a > img {
max-width:100% !important;
/*background-color:whitesmoke;*/
border: 1px solid lightgrey;

}

img{
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
	border:1px solid darkgrey;
}

h1, h2 {
  text-shadow: 1px 1px 1px grey;
  }

h1 a:hover {text-decoration:none;}

small { 
	font-size:12px !important;
	text-shadow:none;
}

h1, h2, h3, body, p {
/*  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  }

.more > a { 
background-color: white;
display: inline;
border:1px solid lightgrey;
font-size:1em;
border-top-right-radius: 16px;
border-top-left-radius: 16px;
border-bottom-right-radius: 16px;
border-bottom-left-radius: 16px;
padding:8px;
}


.more > a:hover { 
background-color: whitesmoke;
text-decoration:none;
}

.blue {color: blue;}
.red {color: red;}
.green {color: green;}
.orange {color: orange;}
.blue-vp {color: #123789;}
.magenta {color: #ff00ff;}


.font-fresca {font-family: 'Fresca', sans-serif;}
.font-opensans {font-family: 'Open Sans', sans-serif;}
.font-ubuntu {font-family: 'Ubuntu', sans-serif;}

.underlined {text-decoration:underline;}
.striked {text-decoration:line-through;}

.shadow-red {text-shadow:2px 2px 1px red;}
.shadow-grey {text-shadow:2px 2px 1px grey;}
.shadow-blue {text-shadow:2px 2px 1px #123789;}
